<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}

</head>
<body>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="container d-flex justify-content-center vh-100">
            <div class="row w-100 w-md-75 w-lg-50 align-self-center" id="login-form">
                <div class="col-md-12 login-form bg-ebprimary">
                    <h3>Login</h3>

                    <div class="form-group">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Your Email" required autofocus>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Your Password" required>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </div>
        </div>

    </form>
</body>
</html>






