@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

main, header, section {
    display: flex;
    max-width: 75rem;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

header img {
    max-width: 50rem;
    height: auto;
    margin-top: 3rem;
}

h1, h2 {
    font-family: 'Schoolbell', cursive;
    text-align: center;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.9rem;
}

section > * {
    margin-top: 1.5rem;
}

input + label {
    margin-left: .8rem;
}

.btn {
    background: #6C9BC3;
    background-image: -webkit-linear-gradient(top, #6C9BC3, #76A5CD);
    background-image: -moz-linear-gradient(top, #6C9BC3, #76A5CD);
    background-image: -ms-linear-gradient(top, #6C9BC3, #76A5CD);
    background-image: -o-linear-gradient(top, #6C9BC3, #76A5CD);
    background-image: -webkit-gradient(to bottom, #6C9BC3, #76A5CD);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    color: #FFFFFF;
    font-size: 1.6rem;
    padding: .5rem 2rem;
    -webkit-box-shadow: .1rem .1rem .8rem 0 #000000;
    -moz-box-shadow: .1rem .1rem .8rem 0 #000000;
    box-shadow: .1rem .1rem .8rem 0 #000000;
    border: solid #337FED .1rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: solid #EAAF19 .2rem;
    background: #6C9BC3;
    background-image: -webkit-linear-gradient(top, #6C9BC3, #85BAE7);
    background-image: -moz-linear-gradient(top, #6C9BC3, #85BAE7);
    background-image: -ms-linear-gradient(top, #6C9BC3, #85BAE7);
    background-image: -o-linear-gradient(top, #6C9BC3, #85BAE7);
    background-image: -webkit-gradient(to bottom, #6C9BC3, #85BAE7);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    text-decoration: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    align-items: center;
    font-size: 1.6rem;
}

.input-group > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input-group.row {
    flex-direction: row;
}

.input-group.row > div {
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    margin-top: 1.3rem;
    font-size: 1.6rem;
}

.green {
    color: green;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

p.info {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

hr {
    width: 60%;
    margin-top: 5rem;
    color: #6C9BC3;
}

.try-again {
    margin-top: 3rem;
}

.alert {
    position: absolute;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    font-size: 1.8rem !important;
    font-weight: bold;
}

.alert.error{
    background-color: indianred;
    color: white;
}

.error {
    color: indianred;
    outline-color: indianred;
    border-color: indianred;
    align-self: flex-start;
    font-size: 1.2rem;
}

.error::before:not(.alert.error) {
    content: "* ";
}

span.error {
    display: block;
}

.loader-container, .modal-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(222, 220, 220, 0.4);
    justify-content: center;
    align-items: flex-start;
    display: none;
}

.modal-dialog-container {
    display: flex;
}

.progress-container, .modal-dialog-content {
    border: .2rem solid black;
    width: 40%;
    padding: 1.5rem 2rem;
    border-radius: .4rem;
    box-sizing: border-box;
    margin-top: 28rem;
    background: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.24);
    animation: pulse 5s infinite;
}

.modal-dialog-content {
    margin-top: 29rem;
    padding: 2.5rem;
    text-align: justify;
}

.loading {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2rem;
    background: #f1f1f1;
    box-shadow: inset 0 0 .5rem rgba(0, 0, 0, .2);
    border-radius: .4rem;
    overflow: hidden;
}

.loading:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load 5s infinite;
}

label:not(input+label),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    display: block;
    margin-top: 0.8rem;
    width: 100%;
    padding: 0.4rem;
}

label {
    margin-right: 3rem;
}

label.required::after {
    content: " * ";
    color: indianred;
}

fieldset {
    padding: 2rem;
    border-radius: 0.6rem;
    margin-top: 4rem !important;
}

fieldset > legend {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: #6C9BC3;
}

@keyframes load {
    0% {
        width: 0;
        background: #6C9BC3FF;
    }

    25% {
        width: 40%;
        background: #a0d2eb;
    }

    50% {
        width: 60%;
        background: #bcdcec;
    }

    75% {
        width: 75%;
        background: #EAAF19FF;
    }

    100% {
        width: 100%;
        background: #ecd498;
    }
}

@keyframes pulse {
    0% {
        border-color: #6C9BC3FF;
    }

    25% {
        border-color: #a0d2eb;
    }

    50% {
        border-color: #bcdcec;
    }

    75% {
        border-color: #EAAF19FF;
    }

    100% {
        border-color: #ecd498;
    }
}
